.main_banner {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/Image@2x.png");
    background-size: cover;
    background-position: center;
    color: white;
}

.main_menu {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo_title {
    color: red;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito Sans;
    font-weight: bold;
    font-size: 35px;
    padding: 0 3px;
}

.logo_title span {
    color: white;
}

.menu_list {
    font-family: "Nunito Sans";
    font-weight: bold;
    font-size: 16px;
    }

.menu_list ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.menu_list ul li {
    padding: 30px 40px;
}

.menu_list ul li a {
    text-decoration: none;
    color: white;
}

.menu_list ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


