body {
    color: white;
    font-family: "Nunito Sans";
}

main {
    position: relative;
    width: 100%;
    height: calc(100vh - 27.5px);
    background-image: url("../images/Image@2x.png");
    background-size: cover;
    background-position: center;
}

main::after {
    z-index: 0;
    position: absolute;
    content: " ";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.main_menu {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo_title {
    color: red;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
    padding: 0 3px;
}

.logo_title span {
    color: white;
}

.menu_list {
    font-weight: bold;
    font-size: 16px;
    }

.menu_list ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.menu_list ul li {
    padding: 30px 40px;
}

.menu_list ul li a {
    text-decoration: none;
    color: white;
}

.menu_list ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.main_banner {
    position: relative;
    z-index: 1;
    width: 1046px;
    height: 300px;
    margin: 320px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 90px;
    font-weight: bold;
}

.main_banner div a {
    text-decoration: none;
    color: red;
    font-family: "Nunito Sans";
    font-weight: bold;
    padding: 22px 55px;
    background-color: white;
    border-radius: 30px;
    margin: 5px;
}

.main_banner div a:first-child {
    color: white;
    background-color: red;
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);
    border: none;
}

.arrow {
    z-index: 1;
    position: absolute;
    bottom: -27.5px;
    left: calc(50% - 27.5px);
    width: 55px;
    height: 55px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blog {
    width: 100%;
    height: 600px;
    background-color: white;
}

.articles {
    width: 1088px;
    height: 700px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgba(106, 106, 106, 1);
}

.section_name {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #000000;
}

.section_name::before,
.section_name::after {
    content: " ";
    height: 3px;
    width: 60px;
    background: #FF0000;
    box-shadow: 0 1px 6px #FF00004D;
    border-radius: 8px;
    margin: 5px;
}


.cards {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 352px;
    height: 500px;
}

.card_image {
    padding: 10px 0;
}

.card_title {
    padding: 10px 0;
}

.card_content {
    padding: 30px 0;
}

.card_link {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 40px;
    box-shadow: 0px 3px 6px rgba(255, 0, 0, 0.3);
}

#service {
    width: 100%;
    height: 600px;
    background-color: #28272C;
}

.service_section_name {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
}

.service_section_name::before,
.service_section_name::after {
    content: " ";
    height: 3px;
    width: 60px;
    background: #FF0000;
    box-shadow: 0 1px 6px #FF00004D;
    border-radius: 8px;
    margin: 5px;
}

.service_section_cards {
    color: #FFFFFF;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.service_section_card {
    width: 352px;
    height: 500px;
    text-align: center;
}

.service_section_card_image {
    padding: 10px 0;
}

.service_section_card_title {
    padding: 10px 0;
}

.service_section_card_content {
    padding: 30px 0;
    color: #B2B2B2;
}


